<div class="form-wrapper">
<h1>Add Song Form</h1>

  <%= @board.id ? form_for [@board, @song]  do |s| : form_for [@artist, @song] do |s| %> 
    <%= s.label :name %>
    <%= s.text_field :name %>
    <%= s.label :rank %>
    <%= s.text_field :rank %>
    <%= s.submit %>
  <% end %>

</div>